#instapic-1 {
    -webkit-animation-delay: 29s;
}

#instapic-2 {
    -webkit-animation-delay: 25s;
}

#instapic-3 {
    -webkit-animation-delay: 21s;
}

#instapic-4 {
    -webkit-animation-delay: 17s;
}

#instapic-5 {
    -webkit-animation-delay: 13s;
}

#instapic-6 {
    -webkit-animation-delay: 9s;
}

#instapic-7 {
    -webkit-animation-delay: 5s;
}

#instapic-8 {
    -webkit-animation-delay: 3s;
}

#instapic-9 {
    -webkit-animation-delay: 1.5s;
}

#instapic-10 {
    -webkit-animation-delay: 0.5s;
}

@-webkit-keyframes slide {
    to {
        margin-top: 10px;
    }
}

@-webkit-keyframes appear {
    to {
        opacity: 1
    }
}

.instapic-container {
    overflow: hidden;
    position: relative;
}

.instapic:hover {
    cursor: pointer;
    border-color: #7fbbc0;
}

.instapic-avatar-wrapper {
    width: 70px;
    float: left;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    margin-top: 5px;
    background-size: cover !important;
}

.name {
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: #111111;
}

.handle {
    color: #7fbbc0;
    display: inline-block;
    margin-left: 3px;
}

.copy {
    color: #666666;
    margin-top: 5px;
    display: block;
}

.timestamp {
    color: #999999;
    margin-left: 3px;
    display: inline-block;
}

.timestamp::before {
    content: '\2022';
    margin-right: 5px;
}

.name,
.handle,
.copy,
.timestamp {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}