.webkit-hide {
    display: none;
}

#font-weight-normal {
    font-weight: normal !important;
}

.headline-pad {
    padding-top: 0px !important;
}

.wrapper {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.wrapper::after {
    bottom: 0px;
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    height: 30px;
    z-index: 10;
}

.tweet {
    background-color: #ffffff;
    width: 100%;
    border-radius: 4px;
    padding: 20px;
    margin: 5px auto;
    display: table;
    border: 3px solid #333333;
    position: relative;
    box-sizing: border-box;
}

.fbpost {
    background-color: #ffffff;
    width: 100%;
    border-radius: 4px;
    padding: 20px;
    margin: 5px auto;
    display: table;
    border: 3px solid #333333;
    position: relative;
    box-sizing: border-box;
}

.instapic {
    background-color: #ffffff;
    width: 100%;
    border-radius: 4px;
    padding: 20px;
    margin: 5px auto;
    display: table;
    border: 3px solid #333333;
    position: relative;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.slide {
    margin-top: -200%;
    opacity: 0;
    -webkit-animation: slide 2s ease-in-out forwards, appear 3s ease-in-out forwards;
}