.tweet-container {
    overflow: hidden;
    position: relative;
    .tweet {
        margin: 5px auto;
        display: table;
        border: 3px solid #333;
        position: relative;
        box-sizing: border-box;
        width: 548px;
        &:hover {
            cursor: pointer;
            border-color: #7fbbc0;
        }
        &.slide {
            margin-top: -100%;
            opacity: 0;
            -webkit-animation: slide 2s ease-in-out forwards, appear 3s ease-in-out forwards;
        }
        .tweet-avatar-wrapper {
            width: 70px;
            float: left;
            margin: 5px 0;
            .avatar {
                width: 48px;
                height: 48px;
                border-radius: 5px;
                margin-left: 5px;
                background-size: cover !important;
            }
        }
        .tweet-wrapper {
            margin: 5px 0;
            .name {
                font-weight: bold;
                font-size: 14px;
                color: #111;
            }
            .handle {
                color: #7fbbc0;
                display: inline-block;
                margin-left: 3px;
            }
            .copy {
                color: #666666;
                margin-top: 5px;
                display: block;
            }
            .timestamp {
                color: #999999;
                margin-left: 3px;
                display: inline-block;
                &::before {
                    content: '\2022';
                    margin-right: 5px;
                }
            }
        }
    }
}

#tweet-1 {
    animation-delay: 41s;
}

#tweet-2 {
    animation-delay: 37s;
}

#tweet-3 {
    animation-delay: 33s;
}

#tweet-4 {
    animation-delay: 29s;
}

#tweet-5 {
    animation-delay: 25s;
}

#tweet-6 {
    animation-delay: 21s;
}

#tweet-7 {
    animation-delay: 17s;
}

#tweet-8 {
    animation-delay: 13s;
}

#tweet-9 {
    animation-delay: 9s;
}

#tweet-10 {
    animation-delay: 5s;
}

@-webkit-keyframes slide {
    to {
        margin-top: 10px;
    }
}

@-webkit-keyframes appear {
    to {
        opacity: 1
    }
}