<row>
    <columns small="12" large="12">
        <h3>FACEBOOK</h3>
    </columns>
</row>
<container>
    <div class="wrapper">
        <row>
            <columns small="12" large="2">
                <div class="fbpost-container">
                    <a href="#">
                        <div class="fbpost slide" id="fbpost-1">
                            <div class="fbpost-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="fbpost-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="fbpost-container">
                    <a href="#">
                        <div class="fbpost slide" id="fbpost-2">
                            <div class="fbpost-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="fbpost-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="fbpost-container">
                    <a href="#">
                        <div class="fbpost slide" id="fbpost-3">
                            <div class="fbpost-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="fbpost-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="fbpost-container">
                    <a href="#">
                        <div class="fbpost slide" id="fbpost-4">
                            <div class="fbpost-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="fbpost-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="fbpost-container">
                    <a href="#">
                        <div class="fbpost slide" id="fbpost-5">
                            <div class="fbpost-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="fbpost-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="fbpost-container">
                    <a href="#">
                        <div class="fbpost slide" id="fbpost-6">
                            <div class="fbpost-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="fbpost-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="fbpost-container">
                    <a href="#">
                        <div class="fbpost slide" id="fbpost-7">
                            <div class="fbpost-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="fbpost-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="fbpost-container">
                    <a href="#">
                        <div class="fbpost slide" id="fbpost-8">
                            <div class="fbpost-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="fbpost-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="fbpost-container">
                    <a href="#">
                        <div class="fbpost slide" id="fbpost-9">
                            <div class="fbpost-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="fbpost-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="fbpost-container">
                    <a href="#">
                        <div class="fbpost slide" id="fbpost-10">
                            <div class="fbpost-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="fbpost-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </columns>
        </row>
    </div>
</container>