<row>
    <columns small="12" large="12">
        <h3>INSTAGRAM</h3>
    </columns>
</row>
<container>
    <div class="wrapper">
        <row>
            <columns small="12" large="2">
                <div class="instapic-container">
                    <a href="#">
                        <div class="instapic slide" id="instapic-1">
                            <div class="instapic-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="instapic-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="instapic-container">
                    <a href="#">
                        <div class="instapic slide" id="instapic-2">
                            <div class="instapic-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="instapic-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="instapic-container">
                    <a href="#">
                        <div class="instapic slide" id="instapic-3">
                            <div class="instapic-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="instapic-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="instapic-container">
                    <a href="#">
                        <div class="instapic slide" id="instapic-4">
                            <div class="instapic-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="instapic-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="instapic-container">
                    <a href="#">
                        <div class="instapic slide" id="instapic-5">
                            <div class="instapic-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="instapic-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="instapic-container">
                    <a href="#">
                        <div class="instapic slide" id="instapic-6">
                            <div class="instapic-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="instapic-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="instapic-container">
                    <a href="#">
                        <div class="instapic slide" id="instapic-7">
                            <div class="instapic-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="instapic-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="instapic-container">
                    <a href="#">
                        <div class="instapic slide" id="instapic-8">
                            <div class="instapic-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="instapic-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="instapic-container">
                    <a href="#">
                        <div class="instapic slide" id="instapic-9">
                            <div class="instapic-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="instapic-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="instapic-container">
                    <a href="#">
                        <div class="instapic slide" id="instapic-10">
                            <div class="instapic-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="instapic-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </columns>
        </row>
    </div>
</container>