<container>
    <row>
        <columns small="12" large="12">
            <h3>TWITTER</h3>
        </columns>
    </row>
</container>
<container>
    <div class="wrapper">
        <row>
            <columns small="12" large="12">
                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-1">
                            <row>
                                <columns small="1" large="1" valign="middle">
                                    <div class="tweet-avatar-wrapper">
                                        <div class="avatar"></div>
                                    </div>
                                </columns>
                                <columns small="11" large="11" valign="middle">
                                    <div class="tweet-wrapper">
                                        <span class="name"></span> <span class="handle"></span>
                                        <span class="timestamp"></span>
                                        <span class="copy"></span>
                                    </div>
                                </columns>
                            </row>
                        </div>
                    </a>
                </div>
                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-2">
                            <row>
                                <columns small="1" large="1" valign="middle">
                                    <div class="tweet-avatar-wrapper">
                                        <div class="avatar"></div>
                                    </div>
                                </columns>
                                <columns small="11" large="11" valign="middle">
                                    <div class="tweet-wrapper">
                                        <span class="name"></span> <span class="handle"></span>
                                        <span class="timestamp"></span>
                                        <span class="copy"></span>
                                    </div>
                                </columns>
                            </row>
                        </div>
                    </a>
                </div>

                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-3">
                            <row>
                                <columns small="1" large="1" valign="middle">
                                    <div class="tweet-avatar-wrapper">
                                        <div class="avatar"></div>
                                    </div>
                                </columns>
                                <columns small="11" large="11" valign="middle">
                                    <div class="tweet-wrapper">
                                        <span class="name"></span> <span class="handle"></span>
                                        <span class="timestamp"></span>
                                        <span class="copy"></span>
                                    </div>
                                </columns>
                            </row>
                        </div>
                    </a>
                </div>
                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-4">
                            <row>
                                <columns small="1" large="1" valign="middle">
                                    <div class="tweet-avatar-wrapper">
                                        <div class="avatar"></div>
                                    </div>
                                </columns>
                                <columns small="11" large="11" valign="middle">
                                    <div class="tweet-wrapper">
                                        <span class="name"></span> <span class="handle"></span>
                                        <span class="timestamp"></span>
                                        <span class="copy"></span>
                                    </div>
                                </columns>
                            </row>
                        </div>
                    </a>
                </div>
                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-5">
                            <row>
                                <columns small="1" large="1" valign="middle">
                                    <div class="tweet-avatar-wrapper">
                                        <div class="avatar"></div>
                                    </div>
                                </columns>
                                <columns small="11" large="11" valign="middle">
                                    <div class="tweet-wrapper">
                                        <span class="name"></span> <span class="handle"></span>
                                        <span class="timestamp"></span>
                                        <span class="copy"></span>
                                    </div>
                                </columns>
                            </row>
                        </div>
                    </a>
                </div>
                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-6">
                            <row>
                                <columns small="1" large="1" valign="middle">
                                    <div class="tweet-avatar-wrapper">
                                        <div class="avatar"></div>
                                    </div>
                                </columns>
                                <columns small="11" large="11" valign="middle">
                                    <div class="tweet-wrapper">
                                        <span class="name"></span> <span class="handle"></span>
                                        <span class="timestamp"></span>
                                        <span class="copy"></span>
                                    </div>
                                </columns>
                            </row>
                        </div>
                    </a>
                </div>
                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-7">
                            <row>
                                <columns small="1" large="1" valign="middle">
                                    <div class="tweet-avatar-wrapper">
                                        <div class="avatar"></div>
                                    </div>
                                </columns>
                                <columns small="11" large="11" valign="middle">
                                    <div class="tweet-wrapper">
                                        <span class="name"></span> <span class="handle"></span>
                                        <span class="timestamp"></span>
                                        <span class="copy"></span>
                                    </div>
                                </columns>
                            </row>
                        </div>
                    </a>
                </div>
                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-8">
                            <row>
                                <columns small="1" large="1" valign="middle">
                                    <div class="tweet-avatar-wrapper">
                                        <div class="avatar"></div>
                                    </div>
                                </columns>
                                <columns small="11" large="11" valign="middle">
                                    <div class="tweet-wrapper">
                                        <span class="name"></span> <span class="handle"></span>
                                        <span class="timestamp"></span>
                                        <span class="copy"></span>
                                    </div>
                                </columns>
                            </row>
                        </div>
                    </a>
                </div>
                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-9">
                            <row>
                                <columns small="1" large="1" valign="middle">
                                    <div class="tweet-avatar-wrapper">
                                        <div class="avatar"></div>
                                    </div>
                                </columns>
                                <columns small="11" large="11" valign="middle">
                                    <div class="tweet-wrapper">
                                        <span class="name"></span> <span class="handle"></span>
                                        <span class="timestamp"></span>
                                        <span class="copy"></span>
                                    </div>
                                </columns>
                            </row>
                        </div>
                    </a>
                </div>
                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-10">
                            <row>
                                <columns small="1" large="1" valign="middle">
                                    <div class="tweet-avatar-wrapper">
                                        <div class="avatar"></div>
                                    </div>
                                </columns>
                                <columns small="11" large="11" valign="middle">
                                    <div class="tweet-wrapper">
                                        <span class="name"></span> <span class="handle"></span>
                                        <span class="timestamp"></span>
                                        <span class="copy"></span>
                                    </div>
                                </columns>
                            </row>
                        </div>
                    </a>
                </div>
            </columns>
        </row>
    </div>
</container>