<row>
    <columns small="12" large="12">
        <h3>TWITTER</h3>
    </columns>
</row>
<container>
    <div class="wrapper">
        <row>
            <columns small="12" large="2">
                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-1">
                            <div class="tweet-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="tweet-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-2">
                            <div class="tweet-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="tweet-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-3">
                            <div class="tweet-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="tweet-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-4">
                            <div class="tweet-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="tweet-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-5">
                            <div class="tweet-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="tweet-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-6">
                            <div class="tweet-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="tweet-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-7">
                            <div class="tweet-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="tweet-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-8">
                            <div class="tweet-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="tweet-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-9">
                            <div class="tweet-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="tweet-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tweet-container">
                    <a href="#">
                        <div class="tweet slide" id="tweet-10">
                            <div class="tweet-avatar-wrapper">
                                <div class="avatar"></div>
                            </div>
                            <div class="tweet-wrapper">
                                <span class="name"></span> <span class="handle"></span>
                                <span class="timestamp"></span>
                                <span class="copy"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </columns>
        </row>
    </div>
</container>